{% load form_tags widget_tweaks %}

{% if u_form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}

{% for field in u_form %}
  <div class="form-group">
    <h5 class="mb-0">{{ field.label_tag }}</h5>
    {% render_field field class=field|input_class %}
    {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
    {% if field.help_text %}
      <small class="form-text text-muted">
        {{ field.help_text|safe }}
      </small>
    {% endif %}
  </div>
{% endfor %}

{% for field in p_form %}
  <div class="form-group">
    {% if field.name == 'news_consent' %}
      <h5>Newsletter consent</h5>
      <div class="custom-control custom-checkbox">
        <input class="custom-control-input" name="news_consent" type="checkbox" id="reminder-checkbox"{% if checked %} checked="checked"{% endif %}>
        <label class="custom-control-label" for="reminder-checkbox"> I agree to receive news about NeverExpire (new updates, features, etc.) to my email address</label>
      </div>
    {% else %}
      <h5 class="mb-0">{{ field.label_tag }}</h5>
      {% render_field field class=field|input_class %}
    {% endif %}
    {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
    {% endfor %}
    {% if field.help_text %}
      <small class="form-text text-muted">
        {{ field.help_text|safe }}
      </small>
    {% endif %}
  </div>
{% endfor %}