{% extends "main/base.html" %}
{% load i18n %}

{% block content %}
<main class="main">
  <div class="container px-0 h-100">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card user-card">
          <form method="post">
            {% csrf_token %}
            <div class="card-body">
              <h3 class="card-title">{% trans "Delete account" %}</h3>
              <div class="form-group">
                <p class="lead">{% blocktrans %}This will permanently delete your account and all information you have entered to neverexpire.net.
                  Are you sure you want to delete your account?{% endblocktrans %}</p>
              </div>
            </div>
            <div class="card-footer text-center">
              <a href="{% url 'my_account' %}" class="btn btn-grey-outline">{% trans "Back" %}</a>
              <button type="submit" class="btn btn-red">{% trans "Yes" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
