{% extends "main/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<main class="main">
  <div class="container p-0 h-100 main-container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="text-center menu-heading mt-2">
          <h2>{% trans "My account" %}</h2>
        </div>
        <div class="card user-card">
          <div class="card-body">
            <h5>{% trans "Username" %}</h5>
            <p class="mb-0">{{ object.username }}</p><hr>
            <h5>{% trans "First name" %}</h5>
            <p class="mb-0">{% if object.first_name %}{{ object.first_name }}{% else %}{% trans "Not saved" %}{% endif %}</p><hr>
            <h5>{% trans "Last name" %}</h5>
            <p class="mb-0">{% if object.last_name %}{{ object.last_name }}{% else %}{% trans "Not saved" %}{% endif %}</p><hr>
            <h5>{% trans "Email address" %}</h5>
            <p class="mb-0">{{ object.email }}</p><hr>
            <h5>{% trans "Preferred language" %}</h5>
            <div class="mb-0">{{ object.profile.get_language_display }}</div><hr>
            <h5>{% trans "Newsletter consent" %}</h5>
            <label><input type="checkbox" disabled="disabled"{% if object.profile.news_consent %} checked="checked"{% endif %}>{% blocktrans %} I agree to receive news about NeverExpire (new updates, features, etc.) to my email address{% endblocktrans %}</label>
          </div>
          <div id="user-buttons" class="card-footer text-center">
            <a class="btn btn-blue btn-sm mt-1" href="{% url 'my_account_update'%}">{% trans "Update info" %}</a>
            <a class="btn btn-grey btn-sm mt-1" href="{% url 'password_change'%}">{% trans "Change password" %}</a>
            <a class="btn btn-red btn-sm mt-1"  href="{% url 'account_delete' %}">{% trans "Delete account" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
