{% extends "main/base.html" %}
{% load i18n %}

{% block content %}
<main class="main">
  <div class="container p-0 h-100 main-container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="text-center menu-heading mt-2">
          <h1>{% trans "Update my account" %}</h1>
        </div>
        <div class="card user-card">
        <div class="card-body">
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'users/includes/user_update_form.html' %}
            <div class="d-flex justify-content-end">
              <a href="{% url 'my_account' %}" class="btn btn-grey-outline mr-1">{% trans "Back" %}</a>
              <button type="submit" class="btn btn-blue">{% trans "Save changes" %}</button>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
