{% extends "main/base.html" %}
{% load static %}

{% block content %}
<main class="main">
  <div class="container p-0 h-100 main-container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="text-center menu-heading mt-2">
          <h1>Update my account</h1>
        </div>
        <div class="card account-card">
        <div class="card-body">
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'users/includes/user_update_form.html' %}
            <button type="submit" class="btn btn-secondary">Save changes</button>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
