{% extends "main/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<main class="main">
  <div class="container px-0 h-100 main-container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card account-card">
          <div class="card-body">
            <h3 class="card-title">{% trans "Password change" %}</h3>
            <form method="post">
              {% csrf_token %}
              {{ form }}
              <button type="submit" class="btn btn-save">{% trans "Submit" %}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
