{% extends "main/base.html" %}
{% load i18n %}

{% block content %}
<main class="main">
  <div class="container px-0 h-100 main-container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card user-card">
          <div class="card-body">
            <h3 class="card-title">{% trans "Password reset" %}</h3>
            <form method="post" action=".">
            {% csrf_token %}
              <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                <label class="control-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                <input type="email" class="form-control" value="{{ form.email.value|default_if_none:'' }}" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" maxlength="{{ form.email.field.max_length }}">
                {% for error in form.email.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
              <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-blue">{% trans "Submit" %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
