{% extends "main/base.html" %}
{% load static i18n crispy_forms_tags %}

{% block content %}
<main class="main">
  <div class="container px-0 h-100 main-container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card user-card">
          <div class="card-body">
            <h3 class="card-title">{% trans "Password change" %}</h3>
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="d-flex justify-content-end">
                <a href="{% url 'my_account' %}" class="btn btn-grey-outline mr-1">{% trans "Back" %}</a>
                <button type="submit" class="btn btn-blue">{% trans "Submit" %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
