{% extends "main/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<main class="main">
  <div class="container px-0 h-100 main-container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card user-card">
          <div class="card-body">
            <h3 class="card-title">{% trans "Sign up" %}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'users/includes/form.html' %}
              {% url 'terms' as terms_url %}
              {% url 'privacy' as privacy_url %}
              {% blocktrans %}
              <p>By clicking the "Create an account" button you agree to our <a href="javascript:void(0)"
                                                                   class="link-blue js-terms"
                                                                   data-url="{{ terms_url }}">Terms of Use</a> and
                                                                <a href="javascript:void(0)"
                                                                   class="link-blue js-privacy"
                                                                   data-url="{{ privacy_url }}">Privacy Policy</a>.</p>
              {% endblocktrans %}
              <button type="submit" class="btn btn-blue btn-block">{% trans "Create an account" %}</button>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
            {% trans "Already have an account? " %}<a href="{% url 'login' %}" class="link-blue">{% trans "Log in" %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
