{% load i18n static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
    <script src="{% static 'main/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'main/js/popper.min.js' %}"></script>
    <title>NeverExpire</title>
</head>
<body class="d-flex flex-column">
  <div class="user_navbar_container_wrapper">
        <div class="container user_navbar_container px-0">
          <nav class="navbar navbar-light navbar-static-top">
            <a href=" {% url 'home' %}" class="logo"><div class="text-white">NeverExpire</div></a>
          </nav>
        </div>
      </div>
  <main class="main">
    <div class="container px-0 h-100 main-container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
          <div class="card user-card">
            <div class="card-body text-center">
              <p class="lead-title mt-3">{% blocktrans %}Site is currently in maintenance mode. Or some issue has come up.
                It could be either one, honestly.{% endblocktrans %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
</body>
</html>

