{% extends "main/base.html" %}
{% load static %}

{% block javascript %}
  <script src="{% static 'main/js/cat_delete.js' %}"></script>
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="col-12" id="cats-col">
        <div class="text-center">
          <h1>Categories</h1>
        </div>
        <div class="my-2" id="messages">
        </div>
        <div class="my-2">
          <a href="{% url 'new_cat' %}" class="btn btn-primary">Add category</a>
        </div>
        {% for cat in cats %}
          <div class="card mb-2 p-2" id="cat_{{ cat.id }}">
            <h3>Name: {{ cat.name }}</h3>
            <p>Description: {{ cat.desc }}</p>
            <p>Documents in category: {{ cat.document_set.count }}</p>
            <div id="cat-buttons">
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'cat_update' cat.id %}">Update</a>
              <button type="button" class="btn btn-danger btn-sm js-delete-cat" data-url="{% url 'cat_delete' cat.id %}">Delete</button>
            </div>
          </div>
        {% endfor %}
        <div class="modal fade" id="modal-cat">
          <div class="modal-dialog">
            <div class="modal-content">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
