{% extends "main/base.html" %}
{% load static %}

{% block javascript %}
  <script src="{% static 'main/js/cat_delete.js' %}"></script>
{% endblock %}

{% block content %}
<main class="main">
  <div class="container p-0 h-100 main-container">
  <!--<div class="container">-->
    <div class="row mx-0">
      <div class="col-12 px-0">
        <div class="text-center menu-heading mt-2">
          <h1>Categories</h1>
        </div>
        <div class="my-2" id="messages">
          <p id='message' class="message-hidden">Category deleted successfully</p>
        </div>
        <div class="mt-3 mb-2 mx-2" id="cat-function-buttons">
          <a href="{% url 'new_cat' %}" class="btn btn-update">Add category</a>
        </div>
      </div>
    </div>
  <!--</div>-->
  <!--<div class="container">-->
    <div class="row mx-0" id="cats-col">
    {% if cats.count > 0 %}
      <div class="d-flex" id="cats-list">
        {% for cat in cats %}
          <div class="col-lg-4 col-md-6 col-sm-12 doc" id="cat_{{ cat.id }}">
            <div class="card p-2 cat-card">
              <div class="cat-name text-center"><h4>{{ cat.name }}</h4></div>
              <div class="cat-desc-title text-center"><p>Description</p></div>
              <div class="cat-desc-content"><p>{% if cat.desc %}{{ cat.desc }} {% else %}No description provided{% endif %}</p></div>
              <div class="cat-doc-count-title text-center"><p>Documents in category</p></div>
              <div class="cat-doc-count-content text-center"><h5>{{ cat.document_set.count }}</h5></div>
              <div id="cat-buttons" class="d-flex justify-content-center">
                <a class="btn btn-secondary btn-sm mx-1 my-1" href="{% url 'cat_update' cat.id %}">Update</a>
                <button type="button" class="btn btn-delete btn-sm mx-1 my-1 js-delete-cat" data-url="{% url 'cat_delete' cat.id %}">Delete</button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="d-flex text-center w-100 no-docs">
        <h4 class="my-2">You have no categories created.</h4>
        <h3>Add some and group up your documents!</h3>
      </div>
    {% endif %}
  <!--</div>-->
    </div>
    <div class="modal fade" id="modal-cat">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
