{% extends "main/base.html" %}
{% load static %}

{% block javascript %}
  <script src="{% static 'main/js/doc_delete.js' %}"></script>
  <script src="{% static 'main/js/search.js' %}"></script>
{% endblock %}

{% block content %}
<main class="main">
  <div class="container h-100 p-0 main-container">
  <!--<div class="container">-->
    <div class="row mx-0">
      <div class="col-12 px-0">
        <div class="text-center menu-heading mt-2">
          <h1>Documents</h1>
        </div>
          <div class="my-2" id="messages">
            <p id='message' class="message-hidden">Document deleted successfully</p>
          </div>
        <div class="mt-3 mb-2 mx-2" id="doc-function-buttons">
          <a href="{% url 'new_doc' %}" class="btn btn-detail">Add document</a>
          <button type="button" class="btn btn-info js-search" data-url="{% url 'search' %}">Search</button>
        </div>
      </div>
    </div>
  <!--</div>-->
  <!--<div class="container">-->
    <div class="row mx-0" id="docs-col">
      {% if docs.count > 0 %}
        <div class="d-flex h-auto" id="docs-list">
          {% for doc in docs %}
          <div class="col-lg-4 col-md-6 col-sm-12 doc" id="doc_{{ doc.id }}">
            <div class="card p-2 doc-card">
              <div class="doc-name text-center"><h4>{{ doc.name }}</h4></div>
              <div class="doc-desc-title text-center"><p>Description</p></div>
              <div class="doc-desc-content"><p>{% if doc.desc %}{{ doc.desc }} {% else %}No description provided{% endif %}</p></div>
              <div class="doc-cat-title text-center"><p>Category</p></div>
              <div class="doc-cat-content"><p>{% if doc.category %}{{ doc.category }} {% else %}No category set{% endif %}</p></div>
              <div class="doc-expiry-date-title text-center"><p>Expiry date</p></div>
              <div class="doc-expiry-date-content"><p>{% if doc.expiry_date %}{{ doc.expiry_date }} {% else %}No expiry date set{% endif %}</p></div>
              <div class="doc-reminder-title text-center"><p>Reminder</p></div>
              <div class="doc-reminder-content">
                {% for reminder in doc.get_reminders %}
                  <p class="mb-0">{{ reminder }}</p>
                {% endfor %}
              </div>
              <!--<p> Reminder: {{ doc.get_parsed_reminders }}-->
              <div id="doc-buttons" class="d-flex justify-content-center">
                <a class="btn btn-detail btn-sm mx-1 my-1" href="{% url 'doc_detail' doc.id %}">Detail</a>
                <a class="btn btn-secondary btn-sm mx-1 my-1" href="{% url 'doc_update' doc.id %}">Update</a>
                <button type="button" class="btn btn-delete btn-sm mx-1 my-1 js-delete-doc" data-url="{% url 'doc_delete' pk=doc.id %}?view=L">Delete</button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
          {% if is_paginated %}

            {% if page_obj.has_previous %}
              <a class="btn btn-outline-secondary mb-2 mx-1" href="?page=1{% if searched %}&searched=True{% endif %}">First</a>
              <a class="btn btn-outline-secondary mb-2 mx-1" href="?page={{ page_obj.previous_page_number }}{% if searched %}&searched=True{% endif %}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="btn btn-secondary mb-2 mx-1" href="?page={{ num }}{% if searched %}&searched=True{% endif %}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-secondary mb-2 mx-1" href="?page={{ num }}{% if searched %}&searched=True{% endif %}">{{ num }}</a>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <a class="btn btn-outline-secondary mb-2 mx-1" href="?page={{ page_obj.next_page_number }}{% if searched %}&searched=True{% endif %}">Next</a>
              <a class="btn btn-outline-secondary mb-2 mx-1" href="?page={{ page_obj.paginator.num_pages }}{% if searched %}&searched=True{% endif %}">Last</a>
            {% endif %}

          {% endif %}

      {% else %}
        <div class="d-flex text-center w-100 no-docs">
          <h4 class="my-2">You have no documents saved.</h4>
          <h3>Don't let them expire and add them!</h3>
        </div>
      {% endif %}
    </div>
    <div class="modal fade" id="modal-doc">
      <div class="modal-dialog">
        <div class="modal-content">
        </div>
      </div>
    </div>
  <!--</div>-->
  </div>
</main>
{% endblock content %}
