{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags form_tags widget_tweaks %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'main/js/reminder.js' %}"></script>
{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <fieldset class="form-group">
              {{ form|crispy }}
            </fieldset>
            <button type="submit" class="btn btn-primary btn-block">Create</button>
          </form>
    </div>
  </div>
</main>
{% endblock content %}
