{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'main/js/reminder.js' %}"></script>
  <!--<script src="{% static 'books/js/books.js' %}"></script>-->
{% endblock %}

{% block content %}
<main class="main">
  <div class="container px-0 h-100 main-container">
    <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <div class="text-center mt-2">
          <h1>Update document</h1>
      </div>
      <div class="card doc-update-card">
        <div class="card-body">
          <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <fieldset class="form-group">
              {{ form.name|as_crispy_field }}
              {{ form.desc|as_crispy_field }}
              {{ form.category|as_crispy_field }}
              {{ form.expiry_date|as_crispy_field }}
              {{ form.reminder.errors}}
              {{ form.reminder|as_crispy_field }}
            </fieldset>
            <button type="submit" class="btn btn-primary btn-block">Update</button>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</main>

<!--<script>-->
  <!--$(function () {-->
    <!--document.getElementById("div_id_reminder").hide();-->
  <!--});-->
<!--</script>-->
{% endblock content %}
