{% extends "main/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<main class="main">
  <div class="container p-0 h-100 main-container">
    {% if user.is_authenticated %}
    <div class="row">
      <div class="col-12 text-center">
        <p>{% blocktrans count num=doc_num %}You have {{ num }} document.{% plural %}You have {{ num }} documents.{% endblocktrans %}</p>
      </div>
    </div>
    {% else %}
    <div class="row">
      <div class="col-12 text-center">
        <p>You better log in!</p>
      </div>
    </div>
    {% endif %}
    <!--<p>You better log in!</p>-->
  </div>
</main>
{% endblock content %}
