{% extends "main/base.html" %}
<!--{% load static %}-->

{% block content %}
<main class="main" id="main">
  <div class="container p-0">
    {% if announcement %}
      <div class="row mx-0 pt-3 px-1">
        <div class="announcement text-center bg-warning w-100" role="alert">
          <p class="my-0 py-1">{{ announcement }}</p>
        </div>
      </div>
    {% endif %}
    <div class="text-center menu-heading w-100 pt-3">
        <h1>Overview</h1>
      </div>
    {% if docs.documents_count == 0 %}
      <div class="row mx-0 mt-3">
        <div class="d-flex text-center justify-content-center w-100">
          <div class="d-flex no-docs px-2">
            <div>
              <h4 class="my-2">You have no documents saved.</h4>
              <h3>Don't let them expire and add them!</h3>
              </div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="row d-flex justify-content-center mx-0 pt-3">
      <a class="btn btn-add text-white mx-1 my-1" href="{% url 'new_doc' %}">Add document</a>
      <a class="btn btn-secondary text-white mx-1 my-1 " href="{% url 'docs' %}">My documents</a>
    </div>
  </div>
  <div class="container h-100 p-0 py-3">
    <div class="grid-user px-1">
      <div class="user-item mb-0">
        <div class="user-item-card card">
          <div class="user-item-title"><h4 class="mb-0">Documents saved</h4></div>
          <div class="user-item-content"><p class="mb-0">{{ documents_count }}</p></div>
        </div>
      </div>
      <div class="user-item mb-0">
        <div class="user-item-card card">
          <div class="user-item-title"><h4 class="mb-0">Categories saved</h4></div>
          <div class="user-item-content"><p class="mb-0">{{ categories_count }}</p></div>
        </div>
      </div>
      <div class="user-item mb-0">
        <div class="user-item-card card">
          <div class="user-item-title"><h4 class="mb-0">Next document expiring</h4></div>
          <div class="user-item-content">
            <p class="mb-0">{{ next_doc_expiring.expiry_date }}</p>
            <p class="mb-0">Document: {{ next_doc_expiring.name }}</p>
          </div>
        </div>
      </div>
      <div class="user-item mb-0">
        <div class="user-item-card card">
          <div class="user-item-title"><h4 class="mb-0">Next reminder sent on</h4></div>
          <div class="user-item-content">
            {% if next_reminder_sent_on %}
              <ul class="list-unstyled mb-0">
                {% for reminder in next_reminder_sent_on %}
                <li>{{ reminder.0 }} | {{ reminder.1 }}</li>
                {% endfor %}
              </ul>
            {% else %}
              <p class="mb-0">No reminders saved</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="user-item mb-0">
        <div class="user-item-card card">
          <div class="user-item-title"><h4 class="mb-0">Last reminder sent on</h4></div>
          <div class="user-item-content"><p class="mb-0">{{ last_reminder_sent_on }}</p></div>
        </div>
      </div>
      <div class="user-item mb-0">
        <div class="user-item-card card">
          <div class="user-item-title"><h4 class="mb-0">Documents expired</h4></div>
          <div class="user-item-content"><p class="mb-0">{{ documents_expired }}</p></div>
        </div>
      </div>
      <div class="user-item mb-0">
        <div class="user-item-card card">
          <div class="user-item-title"><h4 class="mb-0">Documents expiring in 1 month</h4></div>
          <div class="user-item-content"><p class="mb-0">{{ docs_expired_in_1_month }}</p></div>
        </div>
      </div>
      <div class="user-item mb-0">
        <div class="user-item-card card">
          <div class="user-item-title"><h4 class="mb-0">Documents expiring in 6 months</h4></div>
          <div class="user-item-content"><p class="mb-0">{{ docs_expired_in_6_months }}</p></div>
        </div>
      </div>
      <div class="user-item mb-0">
        <div class="user-item-card card">
          <div class="user-item-title"><h4 class="mb-0">Uncategorized documents</h4></div>
          <div class="user-item-content"><p class="mb-0">{{ docs_uncategorized }}</p></div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}