{% load inlinecss %}
{% load i18n %}

{% inlinecss "main/css/reminder_email.css" %}
<div class="wrapper">
  <div class="content">
    <table class="base-table">
      <tbody>
        <tr>
          <td class="base-td">
            <table class="inner-table">
              <tbody>
                <tr>
                  <td class="title-td">
                    <div>NeverExpire</div>
                  </td>
                </tr>
                <tr>
                  <td class="message">
                    {% blocktrans %}<p>Hello <b>{{ username }}</b>, sending you an expiration reminder for some of your documents:</p>{% endblocktrans %}
                  </td>
                </tr>
                <tr>
                  <td class="docs-td">
                    <table class='docs-table'>
                      <thead>
                        <tr>
                          <th>{% trans "Document name" %}</th>
                          <th>{% trans "Expiration date" %}</th>
                          <th>{% trans "Days to expiration" %}</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for doc in document_info %}
                        <tr>
                          <td>{{ doc.0|truncatechars:25 }}</td>
                          <td>{{ doc.1 }}</td>
                          <td>{{ doc.2 }}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="message">
                    {% blocktrans %}<p>Make sure you don't forget to renew them before they expire!</p><br>
                    <p>To unsubscribe or change your email reminders preferences, visit <a href='https://www.neverexpire.net/docs/'>this link</a>.</p><br>
                    <p>Sincerely, The NeverExpire Team</p><br>{% endblocktrans %}
                    <a href="https://www.neverexpire.net">www.neverexpire.net</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endinlinecss %}