{% load i18n %}
{% blocktrans %}Hello {{ username }}, welcome to NeverExpire! You are now ready to save your documents and choose when to be reminded of their expiration.

However if you've received this email into your SPAM/Promotions/other folder than your primary inbox, please follow the instructions below so you don't miss your email reminders.

For Gmail:
1. If present, click the 'Report not spam' button
2. Find the email in your inbox again and open it
3. Click the three bullets button ('More') in the top of this email
4. Select 'Filter messages like these'
5. Click 'Create filter'
6. Check 'Never send it to Spam'
7. Check 'Categorize as' and select 'Primary' from the dropdown list
8. Check 'Also apply filter to X matching conversations'
9. Click 'Create filter'{% endblocktrans %}

{% blocktrans %}If you don't find similar option in your mailbox, some providers allow to add 'noreply@neverexpire.net' as a trustworthy email address to avoid miscategorization of emails from this address.

We hope you will enjoy NeverExpire!

To unsubscribe or change your email reminders preferences, visit this link: www.neverexpire.net/docs/

Sincerely, The NeverExpire Team{% endblocktrans %}

www.neverexpire.net