{% load inlinecss %}
{% load i18n %}

{% inlinecss "main/css/reminder_email.css" %}
<div class="wrapper">
  <div class="content">
    <table class="base-table">
      <tbody>
        <tr>
          <td class="base-td">
            <table class="inner-table">
              <tbody>
                <tr>
                  <td class="title-td">
                    <div>NeverExpire</div>
                  </td>
                </tr>
                <tr>
                  <td class="message">
                    {% blocktrans %}<p>Hello <b>{{ username }}</b>, welcome to NeverExpire! You are now ready to save your documents and choose when to be reminded of their expiration.</p><br>
                    <p>Please follow the instructions below so you don't miss your email reminders in case some of our emails get delivered to SPAM/Promotions/other non-primary folder where you might miss them.</p><br>
                    <p>For Gmail:</p>
                    <ol>
                      <li>If present, click the 'Report not spam' button</li>
                      <li>Find the email in your inbox again and open it</li>
                      <li>Click the three bullets button ('More') in the top of this email</li>
                      <li>Select 'Filter messages like these'</li>
                      <li>Click 'Create filter'</li>
                      <li>Check 'Never send it to Spam'</li>
                      <li>Check 'Categorize as' and select 'Primary' from the dropdown list</li>
                      <li>Check 'Also apply filter to X matching conversations'</li>
                      <li>Click 'Create filter'</li>
                    </ol>{% endblocktrans %}<br>
                  </td>
                </tr>
                <tr>
                  <td class="message">
                    {% blocktrans %}<p>If you don't find similar option in your mailbox, some providers allow to add 'noreply@neverexpire.net' as a trustworthy email address to avoid miscategorization of emails from this address.</p><br>
                    <p>We hope you will enjoy NeverExpire!</p><br>
                    <p>To unsubscribe or change your email reminders preferences, visit <a href='https://www.neverexpire.net/docs/'>this link</a>.</p><br>
                    <p>Sincerely, The NeverExpire Team</p><br>{% endblocktrans %}
                    <a href="https://www.neverexpire.net">www.neverexpire.net</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endinlinecss %}