<div class="pagination w-100 d-flex flex-column">
  <div class="text-center">
    <p class="small mb-1">Showing documents {{ docs.start_index }}-{{ docs.end_index }} of {{ docs.paginator.count }}</p>
  </div>
  <div class="d-flex justify-content-center">
    {% if docs.has_previous %}
      <a class="btn btn-grey-outline mb-4 mx-1" href="?page=1{% if searched %}&searched=True{% endif %}{% if order %}&o={{order}}{% endif %}"><<</a>
      <a class="btn btn-grey-outline mb-4 mx-1" href="?page={{ docs.previous_page_number }}{% if searched %}&searched=True{% endif %}{% if order %}&o={{order}}{% endif %}"><</a>
    {% endif %}

    {% for num in docs.paginator.page_range %}
      {% if docs.number == num %}
        <a class="btn btn-grey mb-4 mx-1" href="?page={{ num }}{% if searched %}&searched=True{% endif %}{% if order %}&o={{order}}{% endif %}">{{ num }}</a>
      {% elif num > docs.number|add:'-3' and num < docs.number|add:'3' %}
        <a class="btn btn-grey-outline mb-4 mx-1" href="?page={{ num }}{% if searched %}&searched=True{% endif %}{% if order %}&o={{order}}{% endif %}">{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if docs.has_next %}
      <a class="btn btn-grey-outline mb-4 mx-1" href="?page={{ docs.next_page_number }}{% if searched %}&searched=True{% endif %}{% if order %}&o={{order}}{% endif %}">></a>
      <a class="btn btn-grey-outline mb-4 mx-1" href="?page={{ docs.paginator.num_pages }}{% if searched %}&searched=True{% endif %}{% if order %}&o={{order}}{% endif %}">>></a>
    {% endif %}
  </div>
</div>