<div class="modal-header d-flex">
  <h4 class="modal-title">Origin</h4>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Once there was a guy who let his documents expire several times, which sometimes came at a steep price.</p>
  <p>He wanted something to remind him about the expiration dates in advance in order to react in time, so he made this app.</p>
  <p>He thought other people could benefit from this as well, so here it is if you want it.</p>
  <p>If you'd like to contact the guy, please use this <a href="{% url 'contact' %}" class="link-blue">contact form</a>.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-grey-outline" data-dismiss="modal">Close</button>
</div>