<div class="container h-100 p-0 main-container">
  <div class="row mx-0">
    <div class="col-12 px-0 pt-2">
      <div class="text-center menu-heading mt-2">
        <h1>Documents</h1>
      </div>
      {% if docs %}
        <div class="w-100 text-center">
          <p class="lead">You have <b>{{ user.document_set.count }}</b> document{{ user.document_set.count|pluralize }} saved</p>
        </div>
      {% endif %}
      <div class="mt-3 mb-2 mx-2" id="doc-function-buttons">
        {% if user.document_set.count < 100 %}
          <a href="{% url 'new_doc' %}" class="btn btn-blue mb-1"><i class="fas fa-plus-square mr-2"></i>Add document</a>
        {% else %}
          <button class="mb-1 btn btn-blue" disabled>Maximum documents: 100</button>
        {% endif %}
        <button type="button" class="btn btn-search mb-1 js-search" data-url="{% url 'search' %}{% if order %}?o={{order}}{% endif %}"><i class="fas fa-search mr-2"></i>Search</button>
        <div class="btn-group" id="order-button">
          {% include 'main/includes/order_button.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-0">
    {% if docs %}
      {% if docs.has_other_pages %}
        {% include 'main/includes/docs_pagination.html' %}
      {% endif %}
      <div class="d-flex h-auto" id="docs-list">
        {% for doc in docs %}
          <div class="col-lg-4 col-md-6 col-sm-12 doc">
            <div class="card p-2 doc-card">
              <div class="doc-name text-center"><h4>{{ doc.name|truncatechars:60 }}</h4></div>
              <div class="doc-desc-title text-center"><p>Description</p></div>
              <div class="doc-desc-content"><p>{% if doc.desc %}{{ doc.desc|truncatechars:200}} {% else %}No description provided{% endif %}</p></div>
              <div class="doc-cat-title text-center"><p>Category</p></div>
              <div class="doc-cat-content"><p>{% if doc.category %}{{ doc.category }} {% else %}No category set{% endif %}</p></div>
              <div class="doc-expiry-date-title text-center"><p>Expiry date</p></div>
              <div class="doc-expiry-date-content"><p>{% if doc.expiry_date %}{{ doc.expiry_date }} {% else %}No expiry date set{% endif %}</p></div>
              <div class="doc-reminder-title text-center"><p>Reminder</p></div>
              <div class="doc-reminder-content">
                {% for reminder in doc.get_reminders %}
                  <p class="mb-0">{{ reminder }}</p>
                {% endfor %}
              </div>
              <div id="doc-buttons" class="d-flex justify-content-center">
                <button type="button" class="btn btn-grey btn-sm mx-1 my-1 js-doc-detail" data-url="{% url 'doc_detail' doc.id %}">Detail</button>
                <button type="button" class="btn btn-blue btn-sm mx-1 my-1 js-update-doc" data-url="{% url 'doc_update' doc.id %}{% if order %}?o={{order}}{% endif %}{% if searched %}&searched=True{% endif %}">Update</button>
                <button type="button" class="btn btn-red btn-sm mx-1 my-1 js-delete-doc" data-url="{% url 'doc_delete' doc.id %}{% if order %}?o={{order}}{% endif %}{% if searched %}&searched=True{% endif %}">Delete</button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if docs.has_other_pages %}
        {% include 'main/includes/docs_pagination.html' %}
      {% endif %}
    {% else %}
      <div class="d-flex text-center justify-content-center w-100">
        <div class="d-flex no-docs px-2">
          {% if searched %}
            <h4 class="my-2">No documents match your search.</h4>
          {% else %}
            <h4 class="my-2">You have no documents saved.</h4>
            <h3>Don't let them expire and add them!</h3>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</div>