{% load i18n %}
<form method="post" action="{% url 'doc_delete' doc.id %}{% if order %}?o={{order}}{% endif %}{% if searched %}&searched=True{% endif %}" class="js-doc-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">{% trans "Confirm document deletion" %}</h4>
  </div>
  <div class="modal-body">
    <p class="lead">{% trans "Are you sure you want to delete the document " %}<strong>{{ doc.name }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-grey-outline" data-dismiss="modal">{% trans "Close" %}</button>
    <button type="submit" class="btn btn-red">{% trans "Delete" %}</button>
  </div>
</form>