<div class="container h-100 p-0 main-container">
  <div class="row mx-0">
    <div class="col-12 px-0 pt-2">
      <div class="text-center menu-heading mt-2">
        <h1>Documents</h1>
      </div>
      {% if docs %}
        <div class="w-100 text-center">
          <p class="lead">You have <b>{{ user.document_set.count }}</b> document{{ user.document_set.count|pluralize }} saved</p>
        </div>
      {% endif %}
      <!--<div class="my-2" id="messages">-->
        <!--<p id='message' class="message-hidden">Action performed successfully</p>-->
      <!--</div>-->
      <div class="mt-3 mb-2 mx-2" id="doc-function-buttons">
        <a href="{% url 'new_doc' %}" class="btn btn-add mb-1">Add document</a>
        <button type="button" class="btn btn-info mb-1 js-search" data-url="{% url 'search' %}{% if order %}?o={{order}}{% endif %}">Search</button>
        <div class="btn-group" id="order-button">
          {% include 'main/includes/order_button.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-0" id="docs-col">
    {% include 'main/includes/partial_docs_list.html' %}
  </div>
  <!--<div class="modal fade" id="modal-doc">-->
    <!--<div class="modal-dialog">-->
      <!--<div class="modal-content">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>