{% load static %}
{% load crispy_forms_tags %}

<form method="post" action="{% url 'search' %}" class="js-search-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Search documents</h4>
  </div>
  <div class="modal-body">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
    {{ form.name|as_crispy_field }}
    {{ form.desc|as_crispy_field }}
    {{ form.category|as_crispy_field }}
    {{ form.expiry_date_from.errors }}
    {{ form.expiry_date_from|as_crispy_field }}
    {{ form.expiry_date_to.errors }}
    {{ form.expiry_date_to|as_crispy_field }}
    {{ form.reminder.label }}
    {% for checkbox in form.reminder %}
      <div class="checkbox">
        <label>
          {{ checkbox.tag }} {{ checkbox.choice_label }}
        </label>
      </div>
    {% endfor %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>