{% load static %}

/*.overflows {*/
  /*overflow-x: hidden*/
/*}*/

/*@media (max-height: 100vh) {*/
  /*html {*/
  /*height: 100%;*/
/*}}*/
html, body, #fullheight {
  min-height: 100%!important;
  height: 100%;
  /*overflow: auto;*/
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
  background-color: rgb(252, 252, 252);
}

.footer {
  background-image: linear-gradient(to right, rgb(54, 99, 159), rgb(52, 133, 191));
}

.footer-container {
  /*background-image: linear-gradient(to right, rgb(54, 99, 159), rgb(52, 133, 191));*/
  /*opacity: 0.95;*/
  font-family: 'Cardo', serif;
}

.footer-container h5 {
  /*text-decoration: underline;*/
  /*font-weight: normal;*/
  color: white;
}

.footer-container a {
  /*text-decoration: underline;*/
  /*font-weight: normal;*/
  color: #e8e8e8;
  font-size: 16px;
}

@media (max-width: 576px) {
  .footer-2nd-col {
    padding-top: 1.5em;
  }}

.main-container {
  /*background-color: rgb(252, 252, 252);*/
}

.signup-card, .login-card, .account-card, .doc-update-card {
  margin: 1em;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 9px 0 rgba(0, 0, 0, 0.19);
  }

@media (max-width: 844px) {
  .signup-card, .login-card, .account-card, .doc-update-card {
    margin: 1em 0.25em 0.25em 0.25em;
  }
}

@media (min-width: 768px) {
  .menu-heading {
    display: none;
  }
}

/*.account-card {*/
  /*margin: 1em;*/
  /*box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 9px 0 rgba(0, 0, 0, 0.19);*/
/*}*/

/*@media (max-width: 844px) {*/
  /*.account-card {*/
    /*margin: 1em 0.25em 0.25em 0.25em;*/
  /*}*/
/*}*/

.datepicker-container {
  z-index: 1050!important;
}

#docs-list {
  flex-wrap: wrap;
  width: 100%;
}

.doc {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.doc-card {
  /*box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}

.doc-desc-title, .doc-cat-title, .doc-expiry-date-title, .doc-reminder-title, .cat-desc-title, .cat-doc-count-title {
  /*border-top: 1px solid grey;*/
  background-color: rgba(173,173,173,0.28);
}

.doc-desc-title p, .doc-cat-title p, .doc-expiry-date-title p, .doc-reminder-title p, .cat-desc-title p, .cat-doc-count-title p {
  font-weight: bold;
  margin-bottom: 0;
}

.btn-detail {
  color: white;
  background-color: rgb(54, 99, 159);
}

.btn-detail:hover {
  color: white;
  background-color: rgb(55, 121, 182);
}

.btn-delete {
  color: white;
  background-color: rgb(161, 47, 54);
}

.btn-delete:hover {
  color: white;
  background-color: rgb(189, 47, 54);
}

.btn-logout {
  color: white;
  border-color: white;
}

.btn-logout:hover {
  background-color: white;
  color: black;
}

@media (min-width: 992px) {
  .doc {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}}

#cats-list {
  flex-wrap: wrap;
  width: 100%;
}

.cat {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.cat-card {
  /*box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2), -3px -3px 5px rgba(0, 0, 0, 0.2);*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
}

@media (min-width: 992px) {
  .cat {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}}

.site-header {
  /*width: 100%;*/
  /*height: 40vh;*/
  /*background: url('/static/main/images/restaurant.jpg') center no-repeat;*/
  /*background-size: cover;*/
  /*position: relative;*/
  /*opacity: 0.85;*/
  /*z-index: 1000;*/
}

.user_navbar_container_wrapper, .menu_navbar_container_wrapper {
  background-image: linear-gradient(to right, rgb(54, 99, 159), rgb(52, 133, 191));
  opacity: 0.95;
  color: white;
}

.user_navbar_container_wrapper {
  font-size: 16px;
}

.menu_navbar_container_wrapper {
  font-size: 18px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.19);
}

.user_navbar_container {
  /*position: relative;*/
  /*height: 100%;*/
}

.menu_navbar_container {
  /*height: 100%;*/
  /*background-image: linear-gradient(to right, rgb(71, 69, 255), rgb(99, 114, 255));*/
  /*background-image: linear-gradient(to right, rgb(54, 99, 159), rgb(52, 133, 191));*/
  /*opacity: 0.95;*/
  /*color: white;*/
  /*font-size: 18px;*/
  /*box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.19);*/
}

.user_navbar_container {
  /*background-image: linear-gradient(to right, rgb(71, 69, 255), rgb(99, 114, 255));*/
  /*background-image: linear-gradient(to right, rgb(54, 99, 159), rgb(52, 133, 191));*/
  /*opacity: 0.95;*/
  /*color: white;*/
  /*font-size: 16px;*/
}

.user_navbar_container .navbar, .menu_navbar_container .navbar {
  /*background-color: rgba(227, 205, 182, 0.8);*/
  /*font-size: larger;*/
  /*font-weight: 600;*/
  z-index: 1000;
  font-family: 'Cardo', serif;
  display: flex;
  /*color: white;*/
}

#navbarToggle > ul > li > a {
  color: white;
}

/* Also works
/*.navbar-light .navbar-nav .nav-link:hover {*/
  /*color: white;*/
  /*font-weight: bold;*/
/*}*/

#navbarToggle > ul > li > a:hover {
  color: white;
  /*font-weight: bold;*/
}

#navbarToggle > ul > li.active > a {
  /*color: #d4d4d4;*/
  font-weight: bold;
}

.navbar-toggler {
  /*background-color: rgba(216, 196, 176, 0.60);*/
  /*transform: translate(500%, 0%);*/
  margin: 10px 10px 10px auto;
}

#navbarToggle > ul > li {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
  transition: border-top 0.8s, border-bottom 0.8s;
  transition-timing-function: ease-out;
}

#navbarToggle > ul > li:hover {
  /*background-color: rgba(74, 55, 41, 0.28);*/
  /*transition: background-color .6s;*/
  border-top: solid 2px rgba(255, 255, 255, 0.75);
  border-bottom: solid 2px rgba(255, 255, 255, 0.75);
  /*transition: border-bottom 2.6s;*/
}

#navbarToggle > ul > li.active {
  /*background-color: rgba(74, 55, 41, 0.28);*/
  /*transition: background-color .6s;*/
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}

#navbarToggle {
    /*background-color: rgba(227, 205, 182, 0.7);*/
  /*color: white;*/
  }

@media (max-width: 576px) {
  #navbarToggle {
    /*background-color: rgba(227, 205, 182, 0.7);*/
    /*color: white;*/
  }
}

.tap-body {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fa-facebook-f, .fa-twitter, .fa-instagram, .fa-tripadvisor {
  font-size: 20px;
  color: rgba(87, 72, 61, 0.93) !important;
}

.fab:hover {
  color: #9b876f !important;
  transition: color .6s;
}

#div_id_reminder {
  display: none;
}

.no-docs {
  flex-direction: column;
  background-color: rgba(209, 236, 255, 0.6);
  border-radius: 10px;
}

@media (max-width: 576px) {
  .no-docs {
  margin-right: 5px;
  margin-left: 5px;
}}

.message-hidden {
  display: none;
  opacity: 0;
  background-color: inherit;
  visibility: hidden;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  transition: opacity 1000ms, visibility 1000ms, height 1000ms;
}

.message-shown {
  display: block;
  visibility: visible;
  background-color: rgba(195, 255, 215, 0.51);
  opacity: 1;
  padding: 5px;
  animation: fade 1s;
}

@keyframes fade {
    0% {
        opacity: 0;
      visibility: hidden;
    }

    100% {
        opacity: 1;
      visibility: visible;
    }
}

.modal-open {
  overflow: auto;
}

/*#message {*/
    /*overflow: hidden;*/
    /*margin: 0;*/
    /*height: 0; opacity: 0;*/
    /*transition: height 0ms 400ms, opacity 400ms 0ms;*/
/*}*/
/*#message.visible {*/
    /*height: auto; opacity: 1;*/
    /*transition: height 0ms 0ms, opacity 600ms 0ms;*/
/*}*/

/*.restaurant-text {*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -45%);*/
  /*text-align: center;*/
  /*z-index: 900;*/
  /*font-family: 'Cardo', serif;*/
/*}*/

/*.footer {*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*!*text-align: right;*!*/
  /*height: 20vh;*/
  /*padding-left: 0;*/
  /*padding-right: 0;*/
  /*width: 100%;*/
/*}*/

/*footer p {*/
  /*font-size: 10px;*/
  /*margin-bottom: 0;*/
  /*background: rgba(197, 140, 20, 0.11);*/
  /*padding-right: 10px;*/
/*}*/

/*footer p a {*/
  /*color: inherit;*/
/*}*/

/*.navbar-nav:last-child {*/
  /*padding-right: 5em;*/
/*}*/

/*.content-section {*/
  /*background: #ffffff;*/
  /*height: 100%;*/
  /*box-shadow: 10px 0 8px -8px rgba(0, 0, 0, 0.51), -10px 0 8px -8px rgba(0, 0, 0, 0.51);*/
/*}*/

