{% load static %}

:root {
  --menu-footer-bgcolor: rgba(3, 23, 75, 0.77);
  --btn-grey-light-bgcolor: rgba(98, 94, 110, 0.62);
  --btn-grey-dark-bgcolor: rgba(62, 58, 74, 0.62);
}

html, body, #fullheight {
  min-height: 100%!important;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.main {
  flex-grow: 1;
  background-color: rgb(252, 252, 252);
}

.logo {
  font-size: 1.6rem;
}

.logo:hover {
  text-decoration: none;
}

.lang-button, .lang-button:hover, .language-menu > li > a, .language-menu > li > a:hover {
  color: var(--menu-footer-bgcolor);
  font-weight: bold;
}

.footer {
  background-color: var(--menu-footer-bgcolor);
}

.footer-container {
  font-family: 'Cardo', serif;
}

.footer-container h5{
  color: white;
}

.footer-container a, .footer-container p {
  color: #e8e8e8;
  font-size: 16px;
}

@media (max-width: 576px) {
  .footer-col-2, .footer-col-3 {
    padding-top: 1.5em;
  }}

.banner {
  background: url('/static/main/images/hero.jpg') no-repeat center;
  background-color: grey;
  background-size: cover;
  background-blend-mode: screen;
}

.hero-headline {
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--menu-footer-bgcolor);
  line-height: 1.2;
}

@media (max-width: 576px) {
.hero-headline {
  font-size: 3rem;
}}

.hero-text {
  font-size: 1.25rem;
  font-weight: 400;
}

.grid-user {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem 1rem;
}

.user-item {
  min-height: 150px;
}

.home-item-card {
  padding: 50px;
  min-height: 270px;
  }

.user-item-card {
  min-height: 150px;
  padding-right: 5px;
  padding-left: 5px;
}

.user-item-title {
  border-bottom: rgba(168, 168, 168, 0.68) 2px solid;
  min-height: 80px;
}

.user-item-title, .user-item-content {
  text-align: center;
  width: 100%;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--menu-footer-bgcolor);
}

.larger {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .grid-user {
    grid-gap: 0.7rem 1rem;
  }
  .home-item-card {
    padding-left: 10px;
    padding-right: 10px;
  }
  .example-item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .examples-row {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.home-icon {
  margin: 20px 0;
  font-size: 50px;
  color: var(--menu-footer-bgcolor);
}

.example-icon {
  margin: 10px 0;
  font-size: 30px;
  color: var(--menu-footer-bgcolor);
}

.examples-title {
  color: var(--menu-footer-bgcolor);
}

.menu-heading, .contact-heading {
  color: var(--menu-footer-bgcolor);
}

@media (min-width: 768px) {
  .menu-heading {
    display: none;
  }
}

.messages_wrapper, .messages-container {
  position: relative;
}

.messages-container {
  padding-right: 0;
  padding-left: 0;
}

.spam-warning {
  background-color: var(--menu-footer-bgcolor);
  color: white;
  border-radius: 10px;
}

.alert {
    z-index: 1040;
    width: 95%;
    position: absolute;
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: visibility 250s, opacity 250ms, transform 250ms;
}
.alert.hide {
    z-index: 1040;
    width: 95%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: visibility 250s, opacity 250ms, transform 250ms;
}

.datepicker-container {
  z-index: 1050!important;
}

.docs_count {
  font-size: 25px;
}

.btn-search {
  color: white;
  background-color: rgba(3, 22, 72, 0.72);
}

.btn-search:hover {
  color: white;
  background-color: rgba(3, 16, 63, 0.78);
}

.order-active {
  background-color: #f0f0f0;
}

#docs-list, #cats-list {
  flex-wrap: wrap;
  width: 100%;
}

.user-card, .update-card {
  margin: 1em;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 9px 0 rgba(0, 0, 0, 0.2);
  }

@media (max-width: 844px) {
  .user-card, .update-card {
    margin: 1em 0.25em 0.25em 0.25em;
  }
}

.doc, .cat {
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.doc-card, .cat-card, .home-item-card, .user-item-card, .example-item-card {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 9px 0 rgba(0, 0, 0, 0.2);
}

.doc-desc-title, .doc-cat-title, .doc-expiry-date-title, .doc-reminder-title, .cat-desc-title, .cat-doc-count-title, .doc-last-reminder-sent-title {
  background-color: rgba(173,173,173,0.28);
}

.doc-desc-title p, .doc-cat-title p, .doc-expiry-date-title p, .doc-reminder-title p, .cat-desc-title p, .cat-doc-count-title p, .doc-last-reminder-sent-title p {
  font-weight: bold;
  margin-bottom: 0;
}

.btn-grey {
  color: white;
  background-color: var(--btn-grey-light-bgcolor);
  font-size: 1rem;
}

.btn-grey:hover {
  color: white;
  background-color: var(--btn-grey-dark-bgcolor);
}

.btn-grey-outline {
  color: var(--btn-grey-light-bgcolor);
  border-color: var(--btn-grey-light-bgcolor);
  background-color: white;
  font-size: 1rem;
}

.btn-grey-outline:hover {
  color: white;
  border-color: transparent;
  background-color: var(--btn-grey-light-bgcolor);
}

.btn-blue {
  color: white;
  font-size: 1rem;
  background-color: rgba(3, 21, 117, 0.51);
}

.btn-blue:hover {
  color: white;
  background-color: rgba(3, 21, 117, 0.62);
}

.btn-red {
  color: white;
  font-size: 1rem;
  background-color: rgba(112, 2, 2, 0.67);
}

.btn-red:hover {
  color: white;
  background-color: rgba(110, 2, 2, 0.79);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--menu-footer-bgcolor);
}

.link-blue {
  color: rgba(3, 21, 117, 0.51);
  font-weight: bold;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,textarea:focus {
  border: 1px solid rgba(3, 21, 117, 0.51);
  box-shadow: 0 0 0 0.1rem rgba(3, 21, 117, 0.51);
}

@media (min-width: 992px) {
  .doc, .cat {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}}

.user_navbar_container_wrapper, .menu_navbar_container_wrapper {
  background-color: var(--menu-footer-bgcolor);
  opacity: 0.95;
  color: white;
}

.user_navbar_container_wrapper {
  font-size: 16px;
  z-index: 1030
}

.menu_navbar_container_wrapper {
  font-size: 18px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.19);
}

.user-buttons > a, .user-buttons > a:hover {
  font-weight: bold;
  color: var(--menu-footer-bgcolor)
}

@media (max-width: 576px) {
.user-buttons {
  width: 100%;
  justify-content: flex-end;
}}

.user_navbar_container .navbar, .menu_navbar_container .navbar {
  z-index: 1000;
  font-family: 'Cardo', serif;
  font-size: 20px;
  display: flex;/
}

#navbarToggle > ul > li > a, #navbarToggle > ul > li > a:hover {
  color: white;
}

#navbarToggle > ul > li.active > a {
  font-weight: bold;
}

.navbar-toggler {
  margin: 10px 10px 10px auto;

}

.menu_navbar_container > .navbar-light > .navbar-toggler {
  margin: 10px 10px 10px auto;
  background-color: white;
  border: 1px solid white;
}

#navbarToggle > ul > li {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
  transition: border-top 0.8s, border-bottom 0.8s;
  transition-timing-function: ease-out;
}

#navbarToggle > ul > li:hover {
  border-top: solid 2px rgba(255, 255, 255, 0.75);
  border-bottom: solid 2px rgba(255, 255, 255, 0.75);
}

#navbarToggle > ul > li.active {
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}

.tap-body {
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fa-facebook-f, .fa-twitter, .fa-instagram, .fa-tripadvisor {
  font-size: 20px;
  color: rgba(87, 72, 61, 0.93) !important;
}

.fab:hover {
  color: #9b876f !important;
  transition: color .6s;
}

#div_id_reminder {
  display: none;
}

.announcement {
  border-radius: 10px;
}

.no-docs {
  flex-direction: column;
  background-color: rgba(3, 52, 182, 0.15);
  border-radius: 10px;
}

@media (max-width: 576px) {
  .no-docs {
  margin-right: 5px;
  margin-left: 5px;
}}

.message-hidden {
  display: none;
  opacity: 0;
  background-color: inherit;
  visibility: hidden;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 3px;
  transition: opacity 1000ms, visibility 1000ms, height 1000ms;
}

.message-shown {
  display: block;
  visibility: visible;
  background-color: rgba(195, 255, 215, 0.51);
  opacity: 1;
  padding: 5px;
  animation: fade 1s;
}

@keyframes fade {
    0% {
        opacity: 0;
      visibility: hidden;
    }

    100% {
        opacity: 1;
      visibility: visible;
    }
}

.modal-open {
  overflow: auto;
}

.modal-header, .modal-body {
  overflow-wrap: break-word;
  word-break: break-word;
}

#CookielawBanner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
    background: #fff;
    padding: 15px;
}

.cookie-content {
    position: relative;
}

#CookielawBanner #CookielawCross {
    display: block;
    padding: 15px;
}